:root {
  --secondary-text-color: #ffffff;
  --primary-text-color: #212121;
  --tertiary-text-color: #757575;
  --hover-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --tertiary-bg-color: #f5f4fa;
  --hover-bg-color: #188ce8;
  --logo-primary-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--hover-text-color);
}

.current {
  color: var(--hover-text-color);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HOME */
/* -----------------HEADER---------------------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--hover-text-color);
}

.logo-primary {
  color: var(--primary-text-color);
}
.contact {
  color: var(--tertiary-text-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -----------------HERO---------------------- */
.hero {
  background-color: var(--secondary-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  cursor: pointer;

  background-color: var(--hover-text-color);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--hover-bg-color);
}

/* -----------------Features---------------------- */
.feature-title {
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

/* -----------------What are we doing---------------------- */

/* -----------------Team---------------------- */
.team {
  background-color: var(--tertiary-bg-color);
}

.team-item {
  background-color: var(--primary-bg-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

/* -----------------Footer---------------------- */
.footer {
  background-color: var(--secondary-bg-color);
}
.logo-secondary {
  color: var(--secondary-text-color);
}

.footer-address {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-contact {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--hover-text-color);
}

/* PORTFOLIO */

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;

  background-color: var(--tertiary-bg-color);
}

.filter-btn:focus,
.filter-btn:hover {
  color: var(--secondary-text-color);
  background-color: var(--hover-text-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}
